﻿<%@ page title="Salesroll" language="C#" masterpagefile="~/MasterPages/MainMasterPage.master" autoeventwireup="true" inherits="CommonUI_HomePage, App_Web_fdulewot" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
 
       <table width="100%" class="TableWorkArea">
           <%-- <tr>
                <td colspan="6" class="TableHeading">
                    HOME
                </td>
                

            </tr>--%>
            <tr>
                <td width="13%" class="TDLeft">
                    &nbsp;</td>
                <td width="20%" class="TDRight">
                    
                     &nbsp;</td>
                <td width="13%" class="TDLeft">
                    &nbsp;</td>
                <td width="20%" class="TDRight">
                     &nbsp;</td>
                <td width="13%" class="TDLeft">
                    &nbsp;</td>
                <td width="20%" class="TDRight">
                    &nbsp;</td>
                
            </tr>
           
             <tr>
                <td width="13%" class="TDLeft">
                    

                </td>
                <td width="20%" class="TDRight">
                    
                 </td>
                <td width="13%" class="TDLeft"></td>
                <td width="20%" class="TDRight">
                     &nbsp;</td>
                <td width="13%" class="TDLeft">&nbsp;</td>
                <td width="20%" class="TDRight">
                    
                </td>
                
            </tr>
            
            <tr>
                <td width="13%" class="TDLeft">
                    

                </td>
                <td width="20%" class="TDRight">
                </td>
                <td width="13%" class="TDLeft">&nbsp;</td>
                <td width="20%" class="TDRight">
                    
                </td>
                <td width="13%" class="TDLeft"></td>
                <td width="20%" class="TDRight">
                    
                </td>
                
            </tr>
            <tr>
                <td width="13%" class="TDLeft">
                    

                </td>
                <td width="20%" class="TDRight">
                     &nbsp;</td>
                <td width="13%" class="TDLeft"></td>
                <td width="20%" class="TDRight">
                    
                </td>
                <td width="13%" class="TDLeft">
                    &nbsp;</td>
                <td width="20%" class="TDRight">
                    
                </td>
                
            </tr>
           
            <tr>
                <td width="13%" class="TDLeft">
                    

                </td>
                <td width="20%" class="TDRight">
                     &nbsp;</td>
                <td width="13%" class="TDLeft"></td>
                <td width="20%" class="TDRight">
                    
                </td>
                <td width="13%" class="TDLeft">
                    &nbsp;</td>
                <td width="20%" class="TDRight">
                    
                </td>
                
            </tr>
            <tr>
                <td width="13%" class="TDLeft">
                    

                </td>
                <td width="20%" class="TDRight">
                     &nbsp;</td>
                <td width="13%" class="TDLeft" colspan="2" rowspan="3">
                  <%--  <asp:Image ID="Image2" runat="server" Height="120px" 
                        ImageUrl="~/images/logo1.png" Width="320px" />--%>
                </td>
                <td width="13%" class="TDLeft">
                    &nbsp;</td>
                <td width="20%" class="TDRight">
                    
                </td>
                
            </tr>
            <tr>
                <td width="13%" class="TDLeft">
                    

                </td>
                <td width="20%" class="TDRight">
                     &nbsp;</td>
                <td width="13%" class="TDLeft">
                    &nbsp;</td>
                <td width="20%" class="TDRight">
                    
                </td>
                
            </tr>
            
            <tr>
                <td width="13%" class="TDLeft">
                    

                </td>
                <td width="20%" class="TDRight">
                     &nbsp;</td>
                <td width="13%" class="TDLeft">
                    &nbsp;</td>
                <td width="20%" class="TDRight">
                    
                </td>
                
            </tr>
            <tr>
                <td width="13%" class="TDLeft">
                    

                </td>
                <td width="20%" class="TDRight">
                     &nbsp;</td>
                <td width="13%" class="TDLeft"></td>
                <td width="20%" class="TDRight">
                    
                </td>
                <td width="13%" class="TDLeft">
                    &nbsp;</td>
                <td width="20%" class="TDRight">
                    
                </td>
                
            </tr>
            <tr>
                <td width="13%" class="TDLeft">
                    

                </td>
                <td width="20%" class="TDRight">
                     &nbsp;</td>
                <td width="13%" class="TDLeft"></td>
                <td width="20%" class="TDRight">
                    
                </td>
                <td width="13%" class="TDLeft">
                    &nbsp;</td>
                <td width="20%" class="TDRight">
                    
                </td>
                
            </tr>
             
            <tr>
                <td width="13%" class="TDLeft">
                    

                </td>
                <td width="20%" class="TDRight">
                     &nbsp;</td>
                <td width="13%" class="TDLeft"></td>
                <td width="20%" class="TDRight">
                    
                </td>
                <td width="13%" class="TDLeft">
                    &nbsp;</td>
                <td width="20%" class="TDRight">
                    
                </td>
                
            </tr>
            <tr>
                <td width="13%" class="TDLeft">
                    

                </td>
                <td width="20%" class="TDRight">
                     &nbsp;</td>
                <td width="13%" class="TDLeft"></td>
                <td width="20%" class="TDRight">
                    
                </td>
                <td width="13%" class="TDLeft">
                    &nbsp;</td>
                <td width="20%" class="TDRight">
                    
                </td>
                
            </tr>
            
            <tr>
                <td width="13%" class="TDLeft">
                    

                    &nbsp;</td>
                <td width="20%" class="TDRight">
                     &nbsp;</td>
                <td width="13%" class="TDLeft">&nbsp;</td>
                <td width="20%" class="TDRight">
                    
                    &nbsp;</td>
                <td width="13%" class="TDLeft">
                    &nbsp;</td>
                <td width="20%" class="TDRight">
                    
                    &nbsp;</td>
                
            </tr>
            
            
            <tr>
                <td width="13%" class="TDLeft">
                    

                    &nbsp;</td>
                <td width="20%" class="TDRight">
                     &nbsp;</td>
                <td width="13%" class="TDLeft" colspan="2">
                    &nbsp;</td>
                
                <td width="13%" class="TDLeft">
                    &nbsp;</td>
                <td width="20%" class="TDRight">
                    
                    &nbsp;</td>
                
            </tr>
            
            
        </table>
  
</asp:Content>

